#details-component {
    text-align: left;
    padding-left: 50px;
}

.app-masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff !important;
    background-color: #1d70b8;
    margin-bottom: 50px;
}

.app-masthead__title {
    color: #fff;
}

.app-button--inverted {
    /* color: #1d70b8;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 0 #144e81;
    box-shadow: 0 2px 0 #144e81; */
}

.app-masthead__description {
    font-size: 1.5rem;
}