.nav-items-left {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div > a {
    color: white; 
    margin-right: 20px;
    text-decoration: none;
}

div > a:hover {
    color:#f05a28;
}

.nav-items-right {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-items-centre {
    width: 20%;
    text-align: center;
}

.govuk-header {
    border-bottom: none !important;
}

.govuk-header__logo {
    width: 70% !important;
}