.user-container {
    height: 70px;
    background-color: lightblue;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

