.login-container {
    display: flex;
    height: 50vh;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-fields-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 20px;
}

.login-action-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
}

#login-button { 
    margin-top: 20px;
}

#copyright-text {
    color: grey;
}
